CANVAS_URL=https://canvas.instituicao.br/
CANVAS_LOGIN=seu_email@instituicao.edu.br

# Valores gerados ao executar: uv run python criptografar_senha.py
CANVAS_SENHA_SEED=
CANVAS_SENHA_CRYPT=

# Apagar screenshots gerados pelo Selenium/Robot ao final da execução (True/False)
APAGAR_SCREENSHOTS=True
